<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>에브리타임</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" href="/static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
    <link type="text/css" href="/static/css/main.common.css" th:href="@{/css/main.common.css}" rel="stylesheet">
    <link type="text/css" href="/static/css/main.login.css" th:href="@{/css/main.login.css}" rel="stylesheet">
    <link type="image/x-icon" href="/static/icon/favicon.ico" th:href="@{/icon/favicon.ico}" rel="shortcut icon">

    <script type="text/javascript" src="/static/js/extensions.jquery-1.10.2.min.js" th:src="@{/js/extensions.jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" src="/static/js/extensions.underscore-min.js" th:src="@{/js/extensions.underscore-min.js}"></script>
    <script type="text/javascript" src="/static/js/extensions.jquery.placeholder.min.js" th:src="@{/js/extensions.jquery.placeholder.min.js}"></script>
    <script type="text/javascript" src="/static/js/common.js" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" src="/static/js/main.login.js" th:src="@{/js/main.login.js}"></script>
</head>
<body>
<div id="container" class="login">
    <h1 class="logo">
        <a href="/templates/index.html" th:href="@{/}">에브리타임</a>
    </h1>
    <form method="post" action="/login" th:action th:object="${form}">
        <p class="input">
            <input type="text" th:field="*{loginId}" maxlength="20" class="text" placeholder="아이디"/>
        </p>
        <p class="input">
            <input type="password" th:field="*{password}" maxlength="20" class="text" placeholder="비밀번호"/>
        </p>
        <input type="hidden" name="redirect" value="/">
        <p class="submit"><input type="submit" value="로그인" class="text"></p>
        <label class="autologin"><input type="checkbox" name="autologin" value="1">로그인 유지</label>
        <p class="find"><a href="/forgot">아이디/비밀번호 찾기</a></p>
        <p class="register">
            <span>에브리타임에 처음이신가요?</span>
            <a href="/templates/common/register" th:href="@{/register}">회원가입</a>
        </p>
    </form>
</div>
<address>
    <ul class="links">
        <li><a href="/templates/page/serviceagreement" th:href="@{/page/serviceagreement}">이용약관</a></li>
        <li class="privacy"><a href="/templates/page/privacy" th:href="@{/page/privacy}">개인정보처리방침</a></li>
        <li><a href="/templates/page/faq" th:href="@{/page/faq}">문의하기</a></li>
        <li class="copyright"><a href="/templates/index.html" th:href="@{/}">&copy; 에브리타임</a></li>
    </ul>
</address>
<script th:inline="javascript">
    const loginError = [[${loginError}]];
    if (loginError != null) {
        alert(loginError);
    }
</script>
</body>
</html>