<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    <div>
        <label>이름</label>
        <input type="text" name="username" autocomplete="off">
    </div>
    <hr/>
    <div>
        <label>생년월일</label>
        <input type="text" name="birth" maxlength="6">
        <label>성별</label>
        <input type="text" name="sex" maxlength="1">
    </div>
    <hr/>
    <div>
        <label>휴대폰번호</label>
        <input type="text" name="phone" maxlength="13">
    </div>
    <hr/>
    <div>
        <input type="submit" value="확인">
    </div>
</form>
</body>
</html>