<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>닉네임 설정 - 에브리타임</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" href="/static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
    <link type="text/css" href="/static/css/common.partial.css" th:href="@{/css/common.partial.css}" rel="stylesheet">
    <link type="text/css" href="/css/container/container.community.css" th:href="@{/css/container/container.community.css}" rel="stylesheet">
    <link type="text/css" href="/css/my/my.email.nickname.css" th:href="@{/css/my/my.email.nickname.css}" rel="stylesheet">
    <link type="text/css" href="/static/css/page/page.common.css" th:href="@{/css/page/page.common.css}" rel="stylesheet">
    <link type="text/css" href="/static/css/page/page.common.index.css" th:href="@{/css/page/page.common.index.css}" rel="stylesheet">
    <link type="image/x-icon" href="/static/icon/favicon.ico" th:href="@{/icon/favicon.ico}" rel="shortcut icon">

    <!-- <script type="text/javascript" src="/static/js/extensions.jquery-1.10.2.min.js" th:src="@{/js/extensions.jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" src="/static/js/extensions.underscore-min.js" th:src="@{/js/extensions.underscore-min.js}"></script>
    <script type="text/javascript" src="/static/js/common.js" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" src="/static/js/community.side.js" th:src="@{/js/community.side.js}"></script>
    <script type="text/javascript" src="/static/js/community.index.js" th:src="@{/js/community.index.js}"></script> -->
</head>
<body>
<nav>
    <div class="wrap">
        <div id="logo">
            <a href="/" th:href="@{/}"><img src="/images/common/nav.logo.png" th:src="@{/images/common/nav.logo.png}" alt="nav.logo.png"></a>
            <p><span class="name multiple">에브리타임</span><span class="subname">세종대</span></p>
        </div>
        <div id="account">
            <a href="/message" th:href="@{/message}" title="쪽지함" class="icon message">쪽지함</a>
            <a href="/my" th:href="@{/my}" title="내 정보" class="icon my">내 정보</a>
            <!--            <input type="hidden" id="userUserid" value="lyt1228">-->
            <!--            <input type="hidden" id="userSchool" value="36">-->
            <!--            <input type="hidden" id="userCampus" value="60">-->
        </div>
        <ul id="menu">
            <li><a href="/" th:href="@{/}">게시판</a></li>
            <li><a href="/timetable" th:href="@{/timetable}">시간표</a></li>
            <li><a href="/lecture" th:href="@{/lecture}">강의실</a></li>
            <li><a href="/calculator" th:href="@{/calculator}">학점계산기</a></li>
            <li><a href="/friend" th:href="@{/friend}">친구</a></li>
            <li><a href="/book" th:href="@{/book}">책방</a></li>
        </ul>
    </div>
</nav>

<form class="container" method="post" th:action th:object="${form}">
    <section>
        <h1>닉네임 설정</h1>
        <div class="input">
            <div class="label">
                <label>닉네임</label>
            </div>
            <input th:field="*{nickname}" type="email" maxlength="10" placeholder="닉네임" autocomplete="off">
        </div>
        <div class="rules">
            <p>
                ※ 닉네임을 설정하면 <span class="caution">30일간 변경할 수 없습니다.</span>
            </p>
        </div>
        <input type="submit" value="닉네임 설정">
    </section>
</form>

<footer>
    <a href="/templates/page/serviceagreement.html" th:href="@{/page/serviceagreement}">이용약관</a>
    <a href="/templates/page/privacy.html" th:href="@{/page/privacy}" class="privacy">개인정보처리방침</a>
    <a href="/templates/page/rules.html" th:href="@{/page/rules}">커뮤니티이용규칙</a>
    <a href="/templates/page/faq.html" th:href="@{/page/faq}">문의하기</a>
    <a href="/templates/main.html" th:href="@{/}" class="copyright">&copy; 에브리타임</a>
</footer>
</body>
</html>