<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호 찾기 - 에브리타임</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" href="/static/css/page/page.common.css" th:href="@{/css/page/page.common.css}" rel="stylesheet">
    <link type="text/css" href="/static/css/page/page.forgot.css" th:href="@{/css/page/page.forgot.css}" rel="stylesheet">
    <link type="image/x-icon" href="/static/icon/favicon.ico" th:href="@{/icon/favicon.ico}" rel="shortcut icon">

    <script type="text/javascript" src="/static/js/extensions.jquery-1.10.2.min.js" th:src="@{/js/extensions.jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" src="/static/js/extensions.underscore-min.js" th:src="@{/js/extensions.underscore-min.js}"></script>
    <script type="text/javascript" src="/static/js/extensions.jquery.placeholder.min.js" th:src="@{/js/extensions.jquery.placeholder.min.js}"></script>
    <script type="text/javascript" src="/static/js/common.js" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" src="/static/js/main/main.forgot.js" th:src="@{/js/main/main.forgot.js}"></script>
</head>
<body>
<div>
    <div class="container">
        <section>
            <div class="menu">
                <a href="/forgot">
                    <span>아이디 찾기</span>
                </a>
                <a href="#" class="active">
                    <span>비밀번호 찾기</span>
                </a>
            </div>
            <form action="/forgot/password/userid" method="post">
                <input type="text" placeholder="가입된 아이디" autocomplete="off">
                <input type="submit" value="비밀번호 찾기">
            </form>
        </section>
    </div>
</div>
</body>
</html>