<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>에브리타임</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
    <link href="/static/css/common.partial.css" th:href="@{/css/common.partial.css}" rel="stylesheet">
    <link href="/static/css/container.community.css" th:href="@{/css/container.community.css}" rel="stylesheet">
    <link href="/favicon.ico" th:href="@{/icon/favicon.ico}" rel="shortcut icon" type="image/x-icon">

    <script type="text/javascript" src="/static/js/extensions.jquery-1.10.2.min.js" th:src="@{/js/extensions.jquery-1.10.2.min.js}"></script>
    <script type="text/javascript" src="/static/js/extensions.underscore-min.js" th:src="@{/js/extensions.underscore-min.js}"></script>
    <script type="text/javascript" src="/static/js/common.js" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" src="/static/js/community.side.js" th:src="@{/js/community.side.js}"></script>
    <script type="text/javascript" src="/static/js/community.index.js" th:src="@{/js/community.index.js}"></script>
</head>
<body>
<nav>
    <div class="wrap">
        <div id="logo">
            <a href="/"><img src="/static/images/nav.logo.png" th:src="@{/images/nav.logo.png}" alt="nav.logo.png"></a>
            <p><span class="name multiple">에브리타임</span><span class="subname">세종대</span></p>
        </div>
        <div id="account">
            <a href="/message" title="쪽지함" class="icon message">쪽지함</a>
            <a href="/my" title="내 정보" class="icon my">내 정보</a>
            <input type="hidden" id="userUserid" value="lyt1228">
            <input type="hidden" id="userSchool" value="36">
            <input type="hidden" id="userCampus" value="60">
        </div>
        <ul id="menu">
            <li class="active"><a href="/static">게시판</a></li>
            <li><a href="/timetable">시간표</a></li>
            <li><a href="/lecture">강의실</a></li>
            <li><a href="/calculator">학점계산기</a></li>
            <li><a href="/friend">친구</a></li>
            <li><a href="/book">책방</a></li>
        </ul>
    </div>
</nav>
<div id="submenu">
    <div class="wrap">
        <div class="divider"></div>
        <div class="group">
            <ul>
                <li><a href="#" data-id="377390" class="new">자유게시판</a></li>
                <li><a href="#" data-id="258755" class="new">비밀게시판</a></li>
                <li><a href="#" data-id="385977" class="new">졸업생게시판</a></li>
                <li><a href="#" data-id="385889" class="new">새내기게시판</a></li>
                <li><a href="#" data-id="482594" class="new">시사·이슈</a></li>
                <li><a href="#" data-id="377482" class="new">장터게시판</a></li>
                <li><a href="#" data-id="258757">정보게시판</a></li>
                <li><a href="#" data-id="367450" class="new">홍보게시판</a></li>
            </ul>
        </div>
        <div class="group">
            <ul>
                <li><a href="#" data-id="418786">동아리·학회</a></li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="group">
            <ul>
                <li><a href="#" data-id="377467" class="new">취업·진로</a></li>
                <li><a href="#" data-id="477445" class="new">공무원 게시판</a></li>
                <li><a href="#" data-id="492291">CPA, 금공 준비반</a></li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="group">
            <ul>
                <li><a href="#" data-id="509699">총동아리연합회</a></li>
                <li><a href="#" data-id="483471">세종대신문사</a></li>
                <li><a href="#" data-id="486137">방송국</a></li>
                <li><a href="#" data-id="508542">영자신문사</a></li>
                <li><a href="#" data-id="507594">전정대 학생회</a></li>
                <li><a href="#" data-id="506628">생명과학대학 학생회</a></li>
                <li><a href="#" data-id="506852">법학부 학생회</a></li>
                <li><a class="more">더 보기</a></li>
            </ul>
        </div>
        <div class="group hidden">
            <ul>
                <li><a href="#" data-id="514324">소프트웨어융합대학 학생회</a></li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="group">
            <ul>
                <li><a href="#" data-id="473986" class="new">생시부 게시판</a></li>
                <li><a href="#" data-id="512490" class="new">만화애니메이션텍 게시판</a></li>
                <li><a href="#" data-id="490112" class="new">디이노 게시판</a></li>
                <li><a href="#" data-id="484286">물리천문학과 정보 및 교류 게시판</a></li>
            </ul>
        </div>
        <div class="divider"></div>
        <div class="group">
            <ul>
                <li><a href="#" data-id="389027" class="new">은밀한게시판</a></li>
                <li><a href="#" data-id="391378" class="new">연애게시판</a></li>
                <li><a href="#" data-id="419439">헬스 갤러리</a></li>
                <li><a href="#" data-id="419832" class="new">코딩게시판</a></li>
                <li><a href="#" data-id="456127" class="new">동네친구를 찾아보자</a></li>
                <li><a href="#" data-id="389287" class="new">퀴어 게시판</a></li>
                <li><a href="#" data-id="424353" class="new">애니덕후 게시판</a></li>
                <li><a href="#" data-id="453659" class="new">아이돌덕질게시판</a></li>
            </ul>
        </div>
        <div class="group">
            <ul>
                <li><a href="#" data-id="390999">끝말잇기 게시판😏😏🍉</a></li>
                <li><a href="#" data-id="393410" class="new">이상형게시판</a></li>
                <li><a href="#" data-id="390966" class="new">노래 추천 게시판🎵</a></li>
                <li><a href="#" data-id="399074">메이플스토리 게시판</a></li>
                <li><a href="#" data-id="487059" class="new">케인인님 게시판</a></li>
                <li><a href="#" data-id="508039" class="new">이세돌게시판</a></li>
                <li><a href="#" data-id="420671">로스트아크 게시판</a></li>
                <li><a class="more">더 보기</a></li>
            </ul>
        </div>
        <div class="group hidden">
            <ul>
                <li><a href="#" data-id="452292" class="new">주식투자 게시판</a></li>
                <li><a href="#" data-id="509033" class="new">연뮤 게시판</a></li>
                <li><a href="#" data-id="387226">세종냥이 게시판</a></li>
                <li><a href="#" data-id="517947" class="new">패션 게시판</a></li>
                <li><a href="/community/search" class="search">게시판 찾기</a></li>
            </ul>
        </div>
        <div class="divider"></div>
        <hr>
    </div>
    <input type="hidden" id="communityCampusId" value="60">
</div>
<div id="container" class="community">

    <aside class="none">
        <form class="search">
            <input type="search" name="keyword" class="text" placeholder="전체 게시판의 글을 검색하세요!">
        </form>
        <div class="title">
            <a class="hamburger"></a>
            <h1>세종대 에브리타임</h1>
            <ol class="buttons">
                <li><a id="searchArticle">글 검색</a></li>
            </ol>
        </div>
    </aside>
    <div class="banners">
        <a href="#"><img src="https://cf-eba.everytime.kr/20220922_fint_1000_home_____.png" alt="banners"></a>
    </div>
    <div class="leftside">
        <div class="card pconly">
            <form class="logged">
                <img src="/static/images/0.png" th:src="@{/images/0.png}" class="picture" alt="0.png">
                <p class="nickname">nickname</p>
                <p class="school">username</p>
                <p class="school">loginId</p>
                <ul class="buttons">
                    <li><a href="/my">내 정보</a></li>
                    <li><a href="/user/logout">로그아웃</a></li>
                </ul>
                <hr>
            </form>
        </div>
        <div class="card">
            <div class="menus">
                <a href="/myarticle" class="myarticle">내가 쓴 글</a>
                <a href="/mycommentarticle" class="mycommentarticle">댓글 단 글</a>
                <a href="/myscrap" class="myscrap">내 스크랩</a>
                <hr>
            </div>
        </div>
        <div class="card">
            <div class="banner">
                <a href="#"><img src="https://cf-eba.everytime.kr/20220908_LGCNS_card_re.png" alt="banners"></a>
            </div>
        </div>
        <div class="card">
            <div class="banner">
                <a href="#"><img src="https://cf-eba.everytime.kr/20220925_monimo_Supporters_card.jpg" alt="banners"></a>
            </div>
        </div>
        <div class="card">
            <div class="banner">
                <a href="#"><img src="https://cf-eba.everytime.kr/20220913_Heineken_Silver_card.jpg" alt="banners"></a>
            </div>
        </div>
    </div>
    <div class="rightside">
        <form class="search">
            <input type="text" name="keyword" placeholder="전체 게시판의 글을 검색하세요!" class="text">
        </form>
        <div class="card">
            <div class="board">
                <h3><a>실시간 인기 글</a></h3>
                <a href="#" class="article">
                    <p class="title">title</p>
                    <p class="small">content</p>
                    <h4>boardName</h4>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
                <a href="#" class="article">
                    <p class="title">title</p>
                    <p class="small">content</p>
                    <h4>boardName</h4>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">HOT 게시물<span>더 보기</span></a></h3>
                <a href="#" class="list">
                    <time>방금</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>2분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>4분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>5분 전</time>
                    <p>title</p>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">BEST 게시판<span>더 보기</span></a></h3>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a>학교 소식</a></h3>
                <a href="#" class="article">
                    <p class="title">title</p>
                    <p class="small">content</p>
                    <h4>boardName</h4>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">최근 강의평<span>더 보기</span></a></h3>
                <a href="#" class="article">
                            <span class="star">
                                <span class="on" style="width: 50%;"></span>
                            </span>
                    <p class="title">title</p>
                    <p class="small">content</p>
                    <hr>
                </a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="card">
            <div class="board">
                <h3><a href="#">자유게시판</a></h3>
                <a href="#" class="list">
                    <time>방금</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>2분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>5분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>09:25 22:41</time>
                    <p>title</p>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">비밀게시판</a></h3>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">졸업생게시판</a></h3>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">새내기게시판</a></h3>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">시사·이슈</a></h3>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">장터게시판</a></h3>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">정보게시판</a></h3>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">취업·진로</a></h3>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">공무원 게시판</a></h3>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">CPA, 금공 준비반</a></h3>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">감정평가사 게시판</a></h3>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
                <a href="#" class="article">
                    <p>content</p>
                    <time>n분 전</time>
                    <ul class="status">
                        <li class="vote active">0</li>
                        <li class="comment active">0</li>
                    </ul>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">홍보게시판</a></h3>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="board">
                <h3><a href="#">동아리·학회</a></h3>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
                <a href="#" class="list">
                    <time>n분 전</time>
                    <p>title</p>
                    <hr>
                </a>
            </div>
        </div>
        <hr>
        <div class="bookstore">
            <a href="#" class="item">
                <div class="image" style="background-image: url(/static/images/nobook.png);"></div>
                <h4>title</h4>
                <span class="price">10,000원</span>
            </a>
            <a href="#" class="item">
                <div class="image" style="background-image: url(/static/images/nobook.png);"></div>
                <h4>title</h4>
                <span class="price">10,000원</span>
            </a>
            <a href="#" class="item">
                <div class="image" style="background-image: url(/static/images/nobook.png);"></div>
                <h4>title</h4>
                <span class="price">10,000원</span>
            </a>
            <a href="#" class="item">
                <div class="image" style="background-image: url(/static/images/nobook.png);"></div>
                <h4>title</h4>
                <span class="price">10,000원</span>
            </a>
        </div>
    </div>
</div>
<div id="bottom">
    <ul class="links">
        <li><a href="/page/serviceagreement">이용약관</a></li>
        <li class="privacy"><a href="/page/privacy">개인정보처리방침</a></li>
        <li><a href="/page/rules">커뮤니티이용규칙</a></li>
        <li><a href="/notice">공지사항</a></li>
        <li><a href="/page/faq">문의하기</a></li>
        <li class="copyright"><a href="/">&copy; 에브리타임</a></li>
    </ul>
</div>
</body>
</html>